
blueprints
tts
.*
!.HA_VERSION

google_calendars.yaml
known_devices.yaml
secrets.yaml
webostv.conf

custom_components/*
image/*
node_red/*
www/community/*
www/Plex_Recently_Added/*
www/fonts

home-assistant.code-workspace
home-assistant.log*
home-assistant_v2.db*

Backup_hass.zip